@media screen and (min-width:700px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: auto;
        margin-top: 0;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}