@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        width: auto;
    }

    .navigation a {
        display: block;
        padding: .5rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}