@media screen and (min-width: 768px) {
    #menu { display: none; }

    nav.navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
